{% extends 'base.html' %}

{% block content %}

<h2>Product Management</h2>

<a href="/admin/add_product" class="add-btn">
    + Add Product
</a>

<br><br>

<style>
.add-btn{
    background:#d65a00;
    color:white;
    padding:12px 20px;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.add-btn:hover{
    background:#b84d00;
}
</style>

<table border="1" cellpadding="10">

<tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Category</th>
    <th>Actions</th>
</tr>

{% for p in products %}

<tr>

<td>{{ p[0] }}</td>

<td>

<img
src="{{ url_for('static',
filename='images/' + p[3]) }}"
width="80">

</td>

<td>{{ p[1] }}</td>

<td>{{ p[4] }}</td>

<td>

<a href="/admin/edit_product/{{ p[0] }}">
    Edit
</a>

|

<a href="/admin/delete_product/{{ p[0] }}">
    Delete
</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}