{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Edit Product</h2>

    <form method="POST" enctype="multipart/form-data">

        <input type="text"
               name="name"
               value="{{ product[1] }}"
               required>

        <br><br>

        <textarea
            name="description"
            required>{{ product[2] }}</textarea>

        <br><br>

        <input type="text"
               name="category"
               value="{{ product[4] }}"
               required>

        <br><br>

        <img
        src="{{ url_for('static',
        filename='images/' + product[3]) }}"
        width="120">

        <br><br>

        <input type="file" name="image">

        <hr>

        <h3>Variants</h3>

        {% for v in variants %}

        <input type="hidden"
               name="variant_id[]"
               value="{{ v[0] }}">

        Weight:

        <input type="text"
               name="weight[]"
               value="{{ v[2] }}">

        Price:

        <input type="number"
               name="price[]"
               value="{{ v[3] }}">

        <br><br>

        {% endfor %}

        <button type="submit">
            Update Product
        </button>

    </form>

</div>

{% endblock %}