{% extends 'base.html' %}

{% block content %}

<div style="text-align:center;padding:80px;">

    <h1 style="color:green;">
        ✅ Order Successfully Placed
    </h1>

    <p>Products Total : ₹{{ total }}</p>

    <p>Delivery Charge : ₹{{ delivery_charge }}</p>

    <h3>Total Paid : ₹{{ grand_total }}</h3>

    <a href="/orders">
         View My Orders
    </a>

    <p>
        Thank you for your order.
    </p>

    <br>

    <a href="/">
        <button style="
        padding:12px 25px;
        background:#d35400;
        color:white;
        border:none;
        border-radius:10px;">
            Continue Shopping
        </button>
    </a>

</div>

{% endblock %}