.orders-container{
    width:80%;
    margin:auto;
    padding:40px 0;
}

.orders-title{
    text-align:center;
    color:#d86a00;
    margin-bottom:40px;
}

.order-card{
    background:white;
    border-radius:20px;
    padding:25px;
    margin-bottom:30px;
    box-shadow:0 5px 20px rgba(0,0,0,0.12);
}

.order-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.status{
    padding:10px 18px;
    border-radius:30px;
    font-weight:bold;
}

.placed{
    background:#fff2cc;
}

.shipped{
    background:#d9ead3;
}

.delivered{
    background:#cfe2f3;
}

.product-section{
    display:flex;
    gap:20px;
    align-items:center;
    margin-bottom:25px;
}

.product-section img{
    width:120px;
    height:120px;
    border-radius:15px;
    object-fit:cover;
}

.order-details p{
    margin:12px 0;
    line-height:1.6;
}

.cancel-btn{
    background:#dc3545;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:10px;
    margin-top:15px;
    cursor:pointer;
    font-weight:600;
    font-size:15px;
    transition:0.3s;
}

.cancel-btn:hover{
    background:#b02a37;
    transform:translateY(-2px);
}

.cancel-btn:active{
    transform:scale(0.98);
}