<!DOCTYPE html>
<html>
<head>

<title>Products</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/admin.css') }}">

</head>
<body>

<div class="admin-navbar">

<h2>Products</h2>

<a href="/admin/dashboard">Dashboard</a>

</div>

<div class="admin-container">

<table class="orders-table">

<tr>

<th>ID</th>
<th>Image</th>
<th>Name</th>
<th>Category</th>
<th>Price</th>

</tr>

{% for product in products %}

<tr>

<td>{{ product[0] }}</td>

<td>

<img
src="{{ url_for('static',
filename='images/' + product[3]) }}"
class="product-img">

</td>

<td>{{ product[1] }}</td>

<td>{{ product[4] }}</td>

<td>₹{{ product[5] }}</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>