{% extends 'base.html' %}

{% block content %}


<div class="cart-page">

<h1>🛒 My Cart</h1>

{% for item in items %}

<div class="cart-item">

    <img src="/static/images/{{ item[2] }}">

    <div class="cart-details">

        <h3>{{ item[1] }}</h3>

        <p>{{ item[3] }}</p>

        <p>Qty : {{ item[5] }}</p>

        <h4>₹ {{ item[4] }}</h4>

        <a href="/remove_cart/{{ item[0] }}"
           class="remove-btn">
           Remove
        </a>

    </div>

</div>

{% endfor %}

<div class="checkout-box">

    <a href="/checkout"
       class="checkout-btn">

       Proceed To Checkout →

    </a>

</div>


</div>

{% endblock %}