{% extends 'base.html' %}

{% block content %}

<div class="profile-edit-card">

<h2>Edit Address</h2>

<form method="POST">

<textarea
name="address"
placeholder="Address">{{ user[5] }}</textarea>

<input type="text"
name="city"
value="{{ user[6] }}"
placeholder="City">

<input type="text"
name="state"
value="{{ user[7] }}"
placeholder="State">

<input type="text"
name="pincode"
value="{{ user[8] }}"
placeholder="Pincode">

<button type="submit">
Save Changes
</button>

</form>

</div>

{% endblock %}